#leftPic {
  width: 250px;
  height: 270px;
  display: inline;
}

#rightPic {
  width: 250px;
  height: 270px;
  display: inline;
}
#centerPic {
  width: 250px;
  height: 270px;
  display: inline;
}
#buzMallCanvas {
  height: 100px;
  width: 100px;
}
